.header-color {
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-page {
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.avatar {
  height: 15rem;
  padding-top: 4rem;
}

.banner {
  background-color: black;
  opacity: 0.8;
  width: 65%;
  margin: auto;
  border-radius: 1rem;
}

.banner h1 {
  font-size: 2rem;
  font-wight: bold;
  color: white;
  padding-top: 2rem;
}

.banner hr {
  border-top: 0.5rem dotted white;
  width: 20%;
  margin: auto;
}

.banner p {
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

.social {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.social a {
  padding: 0.25rem;
  color: white;
}

 {
  /* Projects */
}

.projects-grid {
  display: flex;
  padding: 2rem;
}
