h1 {
  font-family: "Comfortaa", cursive;
}

.header-color {
  background: black;
}

.landing-page {
  background: #fffafa;
  text-align: center;
}

.logo {
  height: 250px;
  margin-bottom: 1rem;
}

.avatar {
  height: 15rem;
  padding-top: 4rem;
}

.banner {
  background-color: #ffe4e1;
  opacity: 0.8;
  width: 65%;
  margin: auto;
  border-radius: 1rem;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #808080;
  padding-top: 2rem;
}

.banner hr {
  border-top: 0.5rem dotted #808080;
  width: 20%;
  margin: auto;
}

.banner p {
  color: #808080;
  font-size: 1rem;
  padding: 1rem;
}

.social {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.social a {
  padding: 0.25rem;
  color: #808080;
}

/* Projects */

.projects-grid {
  display: flex;
  padding: 2rem;
}

/* Resume */

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2rem;
}

.pdfButton {
  background: #8ce1dc;
  border: none;
}

.pdfButton a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.pdfButton a:hover {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
}

/* Contact */
.contact {
  text-align: center;
}
